[core]
    excludesfile = ~/.gitignore
[include]
    path = ~/.gitconfig.local
[color]
	ui = true
[core]
	editor = vim
[push]
	default = simple
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    pu = push
    mg = merge
    mgnff = merge --no-ff
    mgs = merge --squash
    re = rebase
    di = diff
    dic = diff --cached
    pick = cherry-pick
